# Npmignore
.DS_Store
.env
.git
.gitignore
.hg
.husky
.idea
.nyc_output
.travis.yml
.vscode
.yarn/
*.log
*.patch
*.rej
*.self
*.swp
*.tgz
*.tmp
*.yml
.classpath
.project
.settings
.toolstarget
.vs
.vscode/
coverage/
doc/
examples/
temp/
tmp/
tsconfig.tsbuildinfo
